<div class="paper container-fluid">
  
  <nav ng-show="authData" class="navbar">
    <a href="#/bandpro" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">FAMES <span class="caret"></span>
      <ul class="dropdown-menu">
        <li role="presentation"><a href="#">Scoreboard</a></li>
        <li role="presentation"><a href="#">Band Info</a></li>
        <li role="presentation"><a href="#/create_game">Create Game</a></li>
        <li role="presentation"><a href="#/game">Game</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#/"  class="btn btn-danger" ng-click="auth.$unauth()">Logout</a></li>
      </ul>
    </a>
  </nav>

  <div class="userUpload row">
    <div id="userDisplay">
      <h4>{{userDetails.name}}</h4>
    </div>

    <div class=" col-sm-4 userInput">
      Change Band Name: <input class="form-control input-md" ng-model="userDetails.name" type="text" placeholder="Band Name">
      <br>
      Change E-mail: <input class="form-control input-md" type="text" id="email" name="email" ng-model="userDetails.email" placeholder="Email">
      <br>

      <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.zip.$invalid && signupForm.zip.$dirty }">
        Change Zip: <input class="form-control input-md" type="text" pattern="^\d{5}(?:[-\s]\d{4})?$" id="zip" name="zip" ng-model="userDetails.zip" placeholder="Enter Zip" required>
        <span class="ion-at form-control-feedback"></span>
      </div>


      <br>
    </div>

    <div class="col-sm-4 userMid">
      <img id="profileImage" ng-src="{{authData.password.profileImageURL}}">
      <br>
    </div>

    <div class="col-sm-4 aboutInt">
      <label>Bio</label>
      <textarea style="width:100%" ng-model="userDetails.bio" class="form-control input-md bio"></textarea>
    </div>

  </div>
  <br>
  <div class="userUpload row">

    <div class="col-sm-4 userInput">
      <p>Feedback from fans:</p>
      <div ng-repeat="user in users">
        <p ng-if="userDetails.uid === user.bandId.uid && users.uid === user.fanId.uid"><strong>{{user.name}}</strong> says: {{user.feedback}}</p>
      </div>

    </div>

    <div class="col-sm-4 userMid">
      
    </div>

    <div class="col-sm-4 aboutInt">
      <label for="exampleInput">Add Event:</label>
      <div id="cal" ui-calendar ng-model="events"></div>
      <form ng-submit="addEvent()">

      <div class="calInputs">
        <input class="form-control input-sm" ng-model="newEvent.title" type="text" placeholder="Event Title">
        <input placeholder="Click here to enter date" class="form-control input-sm" ui-date ui-date-format="DD, d MM, yy" ng-model="newEvent.start">
        <br>
        <input class="button btn btn-primary" type="submit" value="Add Event">
      </div>
      </form>
    </div>
      

  </div>

</div>