<div class="container-fluid">
  
  <nav ng-show="authData" class="navbar">

    <div id="userDisplay">
      <h4>{{userDetails.name}}</h4>
    <a href="#/bandpro" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span>
      <ul class="dropdown-menu">
        <li role="presentation"><a href="#">Scoreboard</a></li>
        <li role="presentation"><a href="#">Band Info</a></li>
        <li role="presentation"><a href="#">Game</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#/"  class="btn btn-danger" ng-click="auth.$unauth()">Logout</a></li>
      </ul>
    </a>
    </div>



  </nav>

  <div class="userUpload row">

    <div class=" col-sm-4 userInput">
      Change Band Name: <input class="form-control input-md" ng-model="userDetails.name" type="text" placeholder="Band Name">
      <br>
      Change E-mail: <input class="form-control input-md" type="text" id="email" name="email" ng-model="userDetails.email" placeholder="Email">
      <br>

      <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.zip.$invalid && signupForm.zip.$dirty }">
        Change Zip: <input class="form-control input-md" type="text" pattern="^\d{5}(?:[-\s]\d{4})?$" id="zip" name="zip" ng-model="userDetails.zip" placeholder="Enter Zip" required>
        <span class="ion-at form-control-feedback"></span>
      </div>


      <br>
      Change Profile Image: <input ng-model="userDetails.imageUrl" type="file" on-change="previewFile()"><br>
      <img id="preview" ng-src="{{previewFile()}}" height="100" alt="Click to preview...">
    </div>

    <div class="col-sm-4 userMid">
      <img id="profileImage" ng-src="{{authData.password.profileImageURL}}">
      <br>
      <a ng-click="updateUser(); message()" class="btn btn-default btn-sm"><strong>Update Profile</strong></a>
    </div>

    <div class="col-sm-4 aboutInt">
      <label>Bio</label>
      <textarea style="width:100%" ng-model="userDetails.bio" class="form-control input-md bio"></textarea>
     <!--  <form name="myForm">
        <input type="datetime-local" id="exampleInput" name="input" ng-model="eventDetails.value" required />
        <input ng-model="eventDetails.times" type="text" id="datepicker">
        <div role="alert">
        </div>
        <br>
        <input type="text" ng-model="eventDetails.venue" placeholder="Name of the Venue">
      </form> -->

    </div>

  </div>
  <br>
  <div class="userUpload row">

    <div class="col-sm-4 userInput">
      <p>Feedback from fans:</p>
      <div ng-repeat="user in users">
        <p ng-if="userDetails.uid === user.bandId.uid && users.uid === user.fanId.uid"><strong>{{user.name}}</strong> says: {{user.feedback}}</p>
      </div>

    </div>

    <div class="col-sm-4 userMid">
      <input id="file" type="file" name="file" file> <br />
      <!-- The elements after this will be ignored -->
      <a class="btn btn-primary btn-md" ng-click="upload()">Upload</a>
     
      
    </div>

    <div class="col-sm-4 aboutInt" id="cal">
      <label for="exampleInput">Add Event:</label>
      <div ui-calendar ng-model="events"></div>
      <form ng-submit="addEvent()">

      <div class="calInputs">
        <input class="form-control input-sm" ng-model="newEvent.title" type="text" placeholder="Event Title">
        <input placeholder="Click here to enter date" class="form-control input-sm" ui-date ui-date-format="DD, d MM, yy" ng-model="newEvent.start">
        <br>
        <input class="button btn btn-primary" type="submit" value="Add Event">
      </div>
      </form>
      
    </div>

  </div>

</div>