<div class="container-fluid">
  
  <nav ng-show="authData" class="navbar">

    <div id="userDisplay">
      <h4>{{userDetails.name}}</h4>
    <a href="#/bandpro" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span>
      <ul class="dropdown-menu">
        <li role="presentation"><a href="#">Scoreboard</a></li>
        <li role="presentation"><a href="#">Band Info</a></li>
        <li role="presentation"><a href="#">Game</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#/"  class="btn btn-danger" ng-click="auth.$unauth()">Logout</a></li>
      </ul>
    </a>
    </div>



  </nav>

  <div class="userUpload row">

    <div class=" col-sm-4 userInput">
      Change Band Name: <input ng-model="userDetails.name" type="text" placeholder="Band Name">
      <br>
      Change E-mail: <input ng-model="userDetails.email" type="text" placeholder="E-mail">



      <form>
        Change City:  <input placeholder="City" type="text" ng-model="userDetails.city"/>
        <br>
        Change State: <input ng-model="userDetails.state" placeholder="State" type="text">
      </form>


      <br>
      Change Profile Image: <input ng-model="userDetails.imageUrl" type="file" on-change="previewFile()"><br>
      <img id="preview" ng-src="{{previewFile()}}" height="100" alt="Click here for preview...">
    </div>

    <div class="col-sm-4 userMid">
      <img id="profileImage" ng-src="{{authData.password.profileImageURL}}">
      <br>
      <a ng-click="updateUser(); message()" class="btn btn-default btn-sm"><strong>Update Profile</strong></a>
    </div>

    <div class="col-sm-4 aboutInt">
      <p>Bio</p>
      <textarea style="width:100%" ng-model="userDetails.bio" class="bio"></textarea>

    </div>

  </div>
  <br>
  <div class="userUpload row">

    <div class=" col-sm-4 userInput">
      <p>Feedback from fans:</p>
      <div ng-repeat="user in users">
        <p ng-if="userDetails.uid === user.bandId && users.uid === user.fanId"><strong>{{user.name}}</strong> says: {{user.feedback}}</p>
      </div>

    </div>

    <div class="col-sm-4 userMid">
      <table class="table">
        <tr>
          <td>Shows</td>
          <td>Gear</td>
          <td>Albums</td>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
      </table>
      
    </div>

    <div class="col-sm-4 aboutInt" id="cal">
    
    </div>

  </div>

</div>