<div class="dashboard">
  <div class="container">
   
    <nav ng-show="authData" class="navbar">
      <a href="#/dashboard" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span>
        <ul class="dropdown-menu">
          <li role="presentation"><a href="#">Scoreboard</a></li>
          <li role="presentation"><a href="#/fanpro">My Profile</a></li>
          <li role="presentation"><a href="#/game">Game</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#/"  class="btn btn-danger" ng-click="auth.$unauth()">Logout</a></li>
        </ul>
      </a>
    </nav>

    <div id="userDisplay">
      <h1>FAMES</h1>
      <h4>Welcome {{userDetails.name}}</h4>
    </div>

      <h3 style="text-align: center">Pick Out Your Band's Game</h3>
    <section>
      <div ng-repeat="user in users">
        <a ng-click="addBand(user.uid); addAssets(user.assets)" ng-if="user.band === true && user.zip === userDetails.zip">
        <br>
        <div class="band">
          <h4 style="text-align: center">{{user.name}}</h4>
          <h5 style="text-align: center">{{user.name}} Game</h5>
        </div>
        </a>
      </div>
    </section>
  </div>
</div>