<div class="paper container-fluid">
  
  <nav ng-show="authData" class="navbar">
    <a href="#/fanpro" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">FAMES <span class="caret"></span>
      <ul class="dropdown-menu">
        <li role="presentation"><a href="#">Scoreboard</a></li>
        <li role="presentation"><a href="#/dashboard">Dashboard</a></li>
        <li role="presentation"><a href="#/game">Game</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#/"  class="btn btn-danger" ng-click="auth.$unauth()">Logout</a></li>
      </ul>
    </a>
  </nav>

  <div class="userUpload row">
    <div id="userDisplay">
      <h4>{{ authData.facebook.displayName }}{{userDetails.name}}</h4>
    </div>

    <div class=" col-sm-4 userInput">
      Change Name: <input class="form-control input-md" ng-model="userDetails.name" type="text" placeholder="Name">
      <br>
      Change E-mail: <input class="form-control input-md" type="text" id="email" name="email" ng-model="userDetails.email" placeholder="Email">
      <br>
      <div class="form-group has-feedback" ng-class="{ 'has-error' : signupForm.zip.$invalid && signupForm.zip.$dirty }">
        Change Zip: <input class="form-control input-md" type="text" pattern="^\d{5}(?:[-\s]\d{4})?$" id="zip" name="zip" ng-model="userDetails.zip" placeholder="Enter Zip" required>
        <span class="ion-at form-control-feedback"></span>
       </div>
    </div>
    <div class="col-sm-4 userMid">
      <img id="profileImage" ng-src="{{authData.password.profileImageURL}}">
    </div>

    <div class="col-sm-4 aboutInt">
      <p>About</p>
      <textarea ng-model="userDetails.about" class="about form-control input-md"></textarea>
      <p>Interests</p>
      <textarea ng-model="userDetails.interests" class="interests form-control input-md"></textarea>
    </div>

  </div>
  <br>
  <div class="userUpload row">

    <div class=" col-sm-4 userInput">
      <p>Feedback:</p>
      <textarea ng-model="userDetails.feedback" class="feedback form-control input-md"></textarea>
      <!-- <button ng-click="addFeedback(user.uid)"></button> -->

    </div>

    <div class="col-sm-4 userMid">
      
    </div>

    <div class="col-sm-4 aboutInt" id="cal">
     <div ui-calendar ng-model="events"></div>
    </div>

  </div>
</div>