<div class="container-fluid">
  
  <nav ng-show="authData" class="navbar">

    <div id="userDisplay">
      <h4>{{ authData.facebook.displayName }}{{userDetails.name}}</h4>
      <p>Top Score: </p>
    <a href="#/fanpro" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span>
      <ul class="dropdown-menu">
        <li role="presentation"><a href="#">Scoreboard</a></li>
        <li role="presentation"><a href="#">Band Info</a></li>
        <li role="presentation"><a href="#">Game</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#/"  class="btn btn-danger" ng-click="auth.$unauth()">Logout</a></li>
      </ul>
    </a>
    </div>



  </nav>

  <div class="userUpload row">

    <div class=" col-sm-4 userInput">
      Change Name: <input ng-model="userDetails.name" type="text" placeholder="Name">
      <br>
      Change E-mail: <input ng-model="userDetails.email" type="text" placeholder="E-mail">



      <form  novalidate method="post" name="form_citydetails" id="form_citydetails" enctype="multipart/form-data" onsubmit="return false;">
        Change City:  <input placeholder="City" class="ff_elem" type="text" name="ff_nm_from[]" value="" id="f_elem_city" ng-model="userDetails.city"/>
        <br>
        Change State: <input ng-model="userDetails.state" placeholder="State" type="text" id="geobytesregion" value="">
      </form>


      <br>
      Change Profile Image: <input ng-model="userDetails.imageUrl" type="file" on-change="previewFile()"><br>
      <img id="preview" ng-src="{{previewFile()}}" height="100" alt="Click here for preview...">
    </div>

    <div class="col-sm-4 userMid">
      <img id="profileImage" ng-src="{{authData.facebook.profileImageURL}}">
      <br>
      <input type="checkbox"> Message Me
      <br>
      <button ng-click="updateUser()" class="btn btn-default btn-sm"><strong>Update Profile</strong></button>
    </div>

    <div class="col-sm-4 aboutInt">
      <p>About</p>
      <textarea ng-model="userDetails.about" class="about"></textarea>
      <p>Interests</p>
      <textarea ng-model="userDetails.interests" class="interests"></textarea>
      <!-- <input type="text" placeholder="Interests"> -->
    </div>

  </div>
  <br>
  <div class="userUpload row">

    <div class=" col-sm-4 userInput">
      <p>Feedback:</p>
      <textarea ng-model="userDetails.feedback" class="feedback"></textarea>

    </div>

    <div class="col-sm-4 userMid">
      <table class="table">
        <tr>
          <td>Shows</td>
          <td>Gear</td>
          <td>Albums</td>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
      </table>
      
    </div>

    <div class="col-sm-4 aboutInt" id="cal">
      <iframe src="https://www.google.com/calendar/embed?src=jeremygrondahl%40gmail.com&ctz=America/Chicago" style="border: 2" width="500" height="300" frameborder="0" scrolling="no"></iframe>
    </div>

  </div>













</div>