<div ng-controller="SignUpCtrl" class="container-fluid">

  <div class="center-form panel">
    <h4 style="text-align: center">Are you a ...</h4>
    <form class="radio" action="">
      <div>
        <input type="radio" name="profiles" ng-model="user.type"  value = "fan"> <strong>Fan?</strong>
      </div>
      <div>
        <input type="radio" name="profiles" ng-model="user.type"   value = "band"> <strong>Band?</strong>
      </div>
    </form>
    <div class="panel-body">
      <h4 class="text-center"><i class="ion-person-add"></i></h4>
      <form method="post" ng-submit="createUser" name="signupForm">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12  form-group has-feedback" ng-class="{ 'has-error' : signupForm.email.$invalid && signupForm.email.$dirty }">
          <input class="form-control input-lg" type="text" id="email" name="email" ng-model="user.email" placeholder="Email" required>
          <span class="ion-at form-control-feedback"></span>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12  form-group has-feedback" ng-class="{ 'has-error' : signupForm.zip.$invalid && signupForm.zip.$dirty }">
          <input class="form-control input-lg" type="text" pattern="^\d{5,6}(?:[-\s]\d{4})?$" id="zip" name="zip" ng-model="user.zip" placeholder="Enter Zip" required>
          <span class="ion-at form-control-feedback"></span>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 form-group has-feedback" ng-class="{ 'has-error' : signupForm.password.$invalid && signupForm.password.$dirty }">
          <input class="form-control input-lg" type="password" name="password" ng-model="user.password" placeholder="Password" required>
          <span class="ion-key form-control-feedback"></span>
        </div>

        <p class="text-center text-muted"><small>By clicking on Sign up, you agree to <a href="#">terms & conditions</a> and <a href="#">privacy policy</a></small></p>

        <a href="#/" type="submit" ng-click="createUser()" class="btn btn-block btn-primary">Sign up</a>
        <br/>
        
        <p>{{message}}</p>

        <br/>

        <p class="text-center text-muted"><small>Already have an account? <a href="#/login">Log in now</a></small></p>
      </form> 
    </div>
  </div>

</div>